<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.uas">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/bmti"
        android:label="@string/app_name"
        android:roundIcon="@drawable/bmti"
        android:supportsRtl="true"
        android:theme="@style/Theme.UAS"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".DetileGuru"
            android:exported="false" />
        <activity
            android:name=".TampilGuru"
            android:exported="false" />
        <activity
            android:name=".TambahGuru"
            android:exported="false" />
        <activity
            android:name=".Menu"
            android:exported="true" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetilePD"
            android:exported="true" />
        <activity
            android:name=".TampilPD"
            android:exported="true" />
        <activity
            android:name=".TambahPD"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>